{% extends 'base.html' %}

{% load static %}

{% block content %}


  <!-- ========================== -->
        <!-- HOME - HEADER -->
        <!-- ========================== -->
        <section class="top-header home-header with-bottom-effect transparent-effect dark">
            <div class="bottom-effect"></div>
            <div class="header-container">	
                <div class="wrap-section-slider" id="topSlider">
                    <div class="sp-slides">
                        <div class="slide-item sp-slide">
                            <div class="slide-image">
                                <img src="{% static 'img/sections/home-top-background.jpg' %}"  alt="" />
                            </div>
                            <div class="slide-content ">
                                <p class="top-title sp-layer"  data-show-transition="left" data-hide-transition="up" data-show-delay="400" data-hide-delay="100" >we are oscend</p>
                                <div class="title sp-layer" data-show-transition="right" data-hide-transition="up" data-show-delay="500" data-hide-delay="150">flexible & universal</div>
                                <div class="under-title sp-layer" data-show-transition="up" data-hide-transition="up" data-show-delay="600" data-hide-delay="200">for all your business needs</div>
                                <div class="controls sp-layer" data-show-transition="up" data-hide-transition="up" data-show-delay="800" data-hide-delay="250">
                                    <a href="#" class="btn btn-primary">Get Started NOW</a>
                                    <a href="#" class="btn btn-info">&nbsp;&nbsp;Discover More&nbsp;&nbsp;</a>
                                </div>
                            </div>
                        </div>
                        <div class="slide-item sp-slide">
                            <div class="slide-image">
                                <img src="{% static 'img/sections/section-11.jpg' %}" alt="" />
                            </div>
                            <div class="slide-content sp-layer">
                                <p class="top-title sp-layer"  data-show-transition="left" data-hide-transition="up" data-show-delay="400" data-hide-delay="100" >we are oscend</p>
                                <div class="title sp-layer" data-show-transition="right" data-hide-transition="up" data-show-delay="500" data-hide-delay="150">flexible & universal</div>
                                <div class="under-title sp-layer" data-show-transition="up" data-hide-transition="up" data-show-delay="600" data-hide-delay="200">for all your business needs</div>
                                <div class="controls sp-layer" data-show-transition="up" data-hide-transition="up" data-show-delay="800" data-hide-delay="250">
                                    <a href="#" class="btn btn-primary">Get Started NOW</a>
                                    <a href="#" class="btn btn-info">&nbsp;&nbsp;Discover More&nbsp;&nbsp;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--./container-->
        </section> 
        
        
         <!-- ========================== -->
        <!-- HOME - FEATURES -->
        <!-- ========================== -->
        <section class="features-section">
            <div class="container">
                <div class="section-heading " >
                    <div class="section-title">our benefits</div>
                    <div class="section-subtitle">Lorem ipsum dolor sit amet consectetur elit</div>
                    <div class="design-arrow"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 wow fadeIn">
                        <article>
                            <div class="feature-item ">
                                <div class="wrap-feature-icon">
                                    <div class="feature-icon">
                                        <span class="icon icon-Carioca"></span>
                                    </div>
                                </div>
                                <div class="title">Clean &amp; modern</div>
                                <div class="text">
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit sed don eiusmod tempor enim
                                    minim veniam quis notrud exercitation
                                </div>
                            </div>
                        </article>
                    </div> 
                    <div class="col-md-3 col-sm-6 wow fadeIn">
                        <article>
                            <div class="feature-item active">
                                <div class="wrap-feature-icon">
                                    <div class="feature-icon">
                                        <span class="icon icon-Heart"></span>
                                    </div>
                                </div>
                                <div class="title">unique design</div>
                                <div class="text">
                                    Amco laboris nisi ut aliquip xea commodo
                                    consequat. Duis aute irure dolor reprehenderit
                                    voluptate velit esse cillum dolore fugiat
                                </div>
                            </div>
                        </article>
                    </div> 
                    <div class="col-md-3 col-sm-6 wow fadeIn">
                        <article>
                            <div class="feature-item">
                                <div class="wrap-feature-icon">
                                    <div class="feature-icon">
                                        <span class="icon  icon-Tools"></span>
                                    </div>
                                </div>
                                <div class="title">multipurpose</div>
                                <div class="text">
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit sed don eiusmod tempor enim
                                    minim veniam quis notrud exercitation
                                </div>
                            </div>
                        </article>
                    </div> 
                    <div class="col-md-3 col-sm-6 wow fadeIn">
                        <article>
                            <div class="feature-item">
                                <div class="wrap-feature-icon">
                                    <div class="feature-icon">
                                        <span class="icon icon-Blog"></span>
                                    </div>
                                </div>
                                <div class="title">100% responsive</div>
                                <div class="text">
                                    Amco laboris nisi ut aliquip xea commodo
                                    consequat. Duis aute irure dolor reprehenderit
                                    voluptate velit esse cillum dolore fugiat
                                </div>
                            </div>
                        </article>
                    </div> 
                </div>
            </div>
        </section>   

        <!-- ========================== -->
        <!-- HOME - LAPTOPS -->
        <!-- ========================== -->
        <section class="laptops-section">
            <div class="container">
                <div class="laptops text-center wow fadeInUp" data-wow-duration="1s">
                    <img src="{% static 'img/laptop.jpg' %}" alt="" class="img-responsive" />
                </div>
            </div>
            <div class="container">
                <div class="content-logo text-center wow fadeInUp"  data-wow-duration="1s">
                    <img src="{% static 'img/content-logo.png' %}" alt="" class="img-responsive" />
                </div>
            </div>
        </section>

          <!-- ========================== -->
        <!-- HOME - AREAS OF EXPERTISE-->
        <!-- ========================== --> 
        <section class="areas-section with-icon with-top-effect">
            <div class="section-icon"><span class="icon icon-Umbrella"></span></div>
            <div class="container"> 
                <div class="row">
                    <div class="col-md-7 col-sm-7 text-right">
                        <div class="clearfix " style="padding-right: 3px;">
                            <div class="above-title">We think & deliver</div>
                            <h4>Areas of expertise</h4>
                        </div>
                        <div><em>Lorem ipsum dolor sit amet consectetur adipisicing elit</em></div>
                        <div class="design-arrow inline-arrow"></div>
                        <p class="large">Quis nostrud exercitation ullamco laboris nisi commodo consequat duis aute
                            sed ipsum airure dolor in reprehenderit in voluptate velit essl</p>
                        <p>Amco laboris nisi ut aliquip xea commodo consequat. Duis aute irure dolor reprehenderit voluptate
                            velit esse cillum dolore fugiat Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud sed ipsum dui
                            suit exercitation ullamco laboris nisi Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                    <div class="col-md-5 col-sm-5 text-center">
                        <img src="{% static 'img/areas.png' %}" alt="" class="img-responsive" />
                    </div>
                </div>
            </div>
        </section>


             <!-- ========================== -->
        <!-- HOME - ACHIEVEMENTS -->
        <!-- ========================== -->
        <section class="achievements-section with-bottom-effect dark dark-strong">
            <div class="bottom-effect"></div>
            <div class="container dark-content">
                <div class="row list-achieve">
                    <div class="col-md-3 col-sm-3 col-xs-6 wow zoomIn" data-wow-delay="0.5s">
                        <article>
                            <div class="achieve-item">
                                <div class="achieve-icon">
                                    <span class="icon icon-Wallet"></span>
                                </div>
                                <div class="count">561</div>
                                <div class="name">projects delivered</div>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 wow zoomIn" data-wow-delay="1.5s">
                        <article>
                            <div class="achieve-item">
                                <div class="achieve-icon">
                                    <span class="icon icon-Cup"></span>
                                </div>
                                <div class="count">24</div>
                                <div class="name">awards won</div>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 wow zoomIn" data-wow-delay="2.5s">
                        <article>
                            <div class="achieve-item">
                                <div class="achieve-icon">
                                    <span class="icon icon-Like"></span>
                                </div>
                                <div class="count">160</div>
                                <div class="name">happy clients</div>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 wow zoomIn" data-wow-delay="3.5s">
                        <article>
                            <div class="achieve-item">
                                <div class="achieve-icon">
                                    <span class="icon icon-Users"></span>
                                </div>
                                <div class="count">285</div>
                                <div class="name">employees working</div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>

        <!-- ========================== -->
        <!-- HOME - LATEST WORKS -->
        <!-- ========================== -->
        <section class="latest-works-section clearfix">
            <div class="container">
                <div class="section-heading">
                    <div class="section-title">Latest Works</div>
                    <div class="section-subtitle">Lorem ipsum dolor amet consectetur adipisic elit</div>
                    <div class="design-arrow"></div>
                </div>
            </div>

            <div class="scroll-pane ">
                <div class="scroll-content">
                    <div class="scroll-content-item  ">
                        <a href="{% static 'img/img3.jpg' %}" class="fancybox">
                            <img src="{% static 'img/img3.jpg' %}" alt="" />
                        </a>
                        <div class="name">dahls 160</div> 
                    </div>
                    <div class="scroll-content-item  ">
                        <a href="{% static 'img/img4.jpg' %}" class="fancybox">
                            <img src="{% static 'img/img4.jpg' %}" alt="" />
                        </a>
                        <div class="name">dahls 160</div> 
                    </div>
                    <div class="scroll-content-item  ">
                        <a href="{% static 'img/img1.jpg' %}" class="fancybox">
                            <img src="{% static 'img/img1.jpg' %}" alt="" />
                        </a>
                        <div class="name">dahls 160</div> 
                    </div>
                    <div class="scroll-content-item  ">
                        <a href="{% static 'img/img2.jpg' %}" class="fancybox">
                            <img src="{% static 'img/img2.jpg' %}" alt="" />
                        </a>
                        <div class="name">dahls 160</div> 
                    </div>
                    <div class="scroll-content-item  ">
                        <a href="{% static 'img/img3.jpg' %}" class="fancybox">
                            <img src="{% static 'img/img3.jpg' %}" alt="" />
                        </a>
                        <div class="name">dahls 160</div> 
                    </div>
                    <div class="scroll-content-item  ">
                        <a href="{% static 'img/img3.jpg' %}" class="fancybox">
                            <img src="{% static 'img/img3.jpg' %}" alt="" />
                        </a>
                        <div class="name">dahls 160</div> 
                    </div>
                    <div class="scroll-content-item  ">
                        <a href="{% static 'img/img4.jpg' %}" class="fancybox">
                            <img src="{% static 'img/img4.jpg' %}" alt="" />
                        </a>
                        <div class="name">dahls 160</div> 
                    </div>
                    <div class="scroll-content-item  ">
                        <a href="{% static 'img/img1.jpg' %}" class="fancybox">
                            <img src="{% static 'img/img1.jpg' %}" alt="" />
                        </a>
                        <div class="name">dahls 160</div> 
                    </div>
                    <div class="scroll-content-item  ">
                        <a href="{% static 'img/img2.jpg' %}" class="fancybox">
                            <img src="{% static 'img/img2.jpg' %}" alt="" />
                        </a>
                        <div class="name">dahls 160</div> 
                    </div>
                    <div class="scroll-content-item  ">
                        <a href="{% static 'img/img3.jpg' %}" class="fancybox">
                            <img src="{% static 'img/img3.jpg' %}" alt="" />
                        </a>
                        <div class="name">dahls 160</div> 
                    </div>
                    <div class="scroll-content-item  ">
                        <a href="{% static 'img/img3.jpg' %}" class="fancybox">
                            <img src="{% static 'img/img3.jpg' %}" alt="" />
                        </a>
                        <div class="name">dahls 160</div> 
                    </div>
                    <div class="scroll-content-item  ">
                        <a href="{% static 'img/img4.jpg' %}" class="fancybox">
                            <img src="{% static 'img/img4.jpg' %}" alt="" />
                        </a>
                        <div class="name">dahls 160</div> 
                    </div>
                    <div class="scroll-content-item  ">
                        <a href="{% static 'img/img1.jpg' %}" class="fancybox">
                            <img src="{% static 'img/img1.jpg' %}" alt="" />
                        </a>
                        <div class="name">dahls 160</div> 
                    </div>
                    <div class="scroll-content-item  ">
                        <a href="{% static 'img/img2.jpg' %}" class="fancybox">
                            <img src="{% static 'img/img2.jpg' %}" alt="" />
                        </a>
                        <div class="name">dahls 160</div> 
                    </div>
                    <div class="scroll-content-item  ">
                        <a href="{% static 'img/img3.jpg' %}" class="fancybox">
                            <img src="{% static 'img/img3.jpg' %}" alt="" />
                        </a>
                        <div class="name">dahls 160</div> 
                    </div>
                </div>
                <div class="scroll-bar-wrap ">
                    <div class="scroll-bar"></div>
                </div>
            </div>
        </section>


            <!-- ========================== -->
        <!-- HOME - TEAM -->
        <!-- ========================== -->
        <section class="team-section with-bottom-effect">
            <div class="bottom-effect"></div>
            <div class="container">
                <div class="section-heading wow fadeIn">
                    <div class="section-title">experienced team</div>
                    <div class="section-subtitle">Lorem ipsum dolor amet consectetur adipisic elit</div>
                    <div class="design-arrow"></div>
                </div>
            </div>
            <div class="container">
                <div class="wrap-team-slider wow fadeIn"> 
                    <div class="prev-btn"><span class="icon invertX icon-Goto"></span></div>
                    <div class="next-btn"><span class="icon icon-Goto"></span></div>
                    <div class="team-slider enable-stick-slider" data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "prevArrow" : ".prev-btn", "nextArrow": ".next-btn" }'>
                        <div class="slide-item">
                            <div class="image">
                                <img src="{% static 'img/team/member-1.png' %}" alt="" />
                            </div>
                            <div class="slide-description">
                                <div class="member-info">
                                    <div class="name">dan tarkist</div>
                                    <div class="position">Creative Director</div>
                                </div>
                                <div class="contacts">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="slide-item">
                            <div class="image">
                                <img src="{% static 'img/team/member-3.png' %}" alt="" />
                            </div>
                            <div class="slide-description">
                                <div class="member-info">
                                    <div class="name">sarina ken</div>
                                    <div class="position">Creative Director</div>
                                </div>
                                <div class="contacts">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="slide-item">
                            <div class="image">
                                <img src="{% static 'img/team/member-2.png' %}" alt="" />
                            </div>
                            <div class="slide-description">
                                <div class="member-info">
                                    <div class="name">ana mes</div>
                                    <div class="position">Product Manager</div>
                                </div>
                                <div class="contacts">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div> 
                        <div class="slide-item">
                            <div class="image">
                                <img src="{% static 'img/team/member-1.png' %}" alt="" />
                            </div>
                            <div class="slide-description">
                                <div class="member-info">
                                    <div class="name">dan tarkist</div>
                                    <div class="position">Creative Director</div>
                                </div>
                                <div class="contacts">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="slide-item">
                            <div class="image">
                                <img src="{% static 'img/team/member-3.png' %}" alt="" />
                            </div>
                            <div class="slide-description">
                                <div class="member-info">
                                    <div class="name">sarina ken</div>
                                    <div class="position">Creative Director</div>
                                </div>
                                <div class="contacts">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>



 
{% endblock %}